@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');






::selection {
    color: #fff;
    background: #FF6A27;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0F0F0F;
    font-size: 14px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #1d2024;
    border-radius: 35px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 35px;
    border: 13px solid #FF6A27;
}

p.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;

}

.Scroll-header {
    /* padding-top: 20px;
    padding-bottom: 10px; */
    top: 0;
    left: 0;
    /* transition: all ease-in-out 500ms; */
    border-bottom: 1px solid #EF6838;
    background-color: #131316;
    z-index: 100000;
}

.Scroll-header input {
    background-color: #1d1d1d;
}

nav a.active {
    color: #EF6838;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

@layer components {
    .side_nav {
        @apply left-0 top-0 h-full w-[200px] bg-white p-[10px]
    }
}


@layer components {
    .hover-links {
        @apply duration-[450ms] hover:text-[#ff6b27] flex gap-4 items-center
    }
}

@layer components {
    .hover-links2 {
        @apply w-max transition-all ease-in-out duration-[300ms] hover:bg-[#b0613d] rounded-full flex gap-3 items-center py-2 px-2
    }
}


@layer components {
    .slide_img_top {
        @apply rounded-[4px] object-cover hover:contrast-[0.8] duration-[340ms] relative w-full h-[250px] md:w-full md:h-[250px] lg:w-[270px] lg:h-[310px]
    }
}

@layer components {
    .slide_img_box {
        @apply rounded-[4px] w-[150px] h-[100px] md:w-[180px] md:h-[110px] lg:w-[100px] lg:h-[70px]
    }
}


@layer components {
    .slide_img_top_one {
        @apply rounded-[4px] object-cover hover:contrast-[0.8] duration-[340ms] relative w-full h-[250px] md:w-full md:h-[250px] lg:w-[220px] lg:h-[285px]
    }
}

@layer components {
    .slide_img_bottom {
        @apply rounded-[4px] object-cover hover:contrast-[0.8] duration-[340ms] relative w-full h-[250px] md:w-full md:h-[250px] lg:w-full lg:h-[280px]
    }
}

@layer components {
    .slide_img_free {
        @apply rounded-2xl object-cover hover:contrast-[0.8] duration-[340ms] relative w-full h-[250px] md:w-full md:h-[200px] lg:w-[390px] lg:h-[210px]
    }
}

@layer components {
    .slide_img_Discounts {
        @apply rounded-2xl object-cover hover:contrast-[0.8] duration-[340ms] relative w-full h-[250px] md:w-full md:h-[300px] lg:w-[390px] lg:h-[210px]
    }
}



@layer components {
    .slide_arrow {
        @apply w-8 h-8 p-1 rounded-full text-white hover:bg-[#ff6b27] transition-all ease-in-out duration-500
    }
}

@layer components {
    .slide_text {
        @apply flex items-center space-x-2
    }
}

/* Slider top container */

#Slider_top_container img {
    position: relative;
}

#Slider_top_container p {
    position: absolute;
    color: white;
    padding-left: 30px;
}

#Slider_top_container .active {
    background-color: #ff6b26;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    /* Adjust the width as needed */
    background: rgb(19, 19, 19);
    background: -moz-linear-gradient(90deg, rgba(19, 19, 19, 0.7008053221288515) 30%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(19, 19, 19, 0.7008053221288515) 30%, rgba(19, 19, 19, 0) 100%);
    background: linear-gradient(90deg, rgba(19, 19, 19, 0.7008053221288515) 30%, rgba(19, 19, 19, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131313", endColorstr="#131313", GradientType=1);
    z-index: 1;
}

.overlay_sm_2 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65%;
    /* Adjust the width as needed */
    background: rgb(19, 19, 19);
    background: -moz-linear-gradient(90deg, rgba(19, 19, 19, 0.7008053221288515) 30%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(19, 19, 19, 0.7008053221288515) 30%, rgba(19, 19, 19, 0) 100%);
    background: linear-gradient(90deg, rgba(19, 19, 19, 0.7008053221288515) 30%, rgba(19, 19, 19, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131313", endColorstr="#131313", GradientType=1);
    z-index: 1;
}

/* end Slider top container */

@layer components {
    .Free_Game {
        @apply rounded-xl object-contain hover:contrast-[0.9] duration-[340ms]
    }
}

@layer components {
    .Free_Game2 {
        @apply rounded-xl object-contain hover:contrast-[0.8] duration-[340ms]
    }
}

@layer components {
    .hover_TopSellers {
        @apply duration-[260ms] hover:bg-[#292929] py-2.5 px-3 rounded-xl w-[350px]
    }
}

@layer components {
    .button_all {
        @apply py-[1.50px] px-[7px] rounded-[4px] text-[12px] bg-[#ff6b27]
    }
}

@layer components {
    .price-box {
        @apply line-through text-[13px] font-extralight
    }
}

@layer components {
    .Name-box {
        @apply text-[14px] font-semibold tracking-wider
    }
}

@layer components {
    .text-box {
        @apply text-[14px] text-[#f5f5f599]
    }
}

@layer components {
    .text-free {
        @apply text-[10px] text-[#a7a7a7d0]
    }
}

/* @layer components {
    .hover_MostPopular {
        @apply rounded-lg hover:contrast-[0.8] duration-[340ms]
    }
} */

/* sidebar */
@layer components {
    .sidebar {
        @apply fixed h-[100vh] w-[60px] bg-[#1a1a1a] top-0 left-0 duration-500 z-[99]
    }
}

.sidebar {
    padding: 11px 14px;

}

/* .active_sidbar {
    width: 165px;
    background-color: #1A1A1D;
} */




@layer components {
    .logo {
        @apply flex h-[50px] w-[100%] text-center opacity-0 pt-5
    }
}

.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

@layer components {
    .btn {
        @apply absolute left-[50%] top-[30px] h-[50px] w-[50px] text-center leading-[50px] translate-x-[-50%] hover:bg-[#EF6838] rounded-full duration-[700ms]
    }
}

.active #btn {
    left: 90%;
}

@layer components {
    .nav_list {
        @apply mt-32 space-y-10
    }
}

@layer components {
    .links_li_sidebar {
        @apply relative h-[50px] w-[10%] list-none leading-[50px]
    }
}

.links_li_sidebar {
    margin: 0 5px;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.active .links_name {
    opacity: 1;
    pointer-events: auto;
}


@layer components {
    .links_li_a {
        @apply flex items-center text-white hover:bg-[#EF6838] duration-[400ms] rounded-lg whitespace-nowrap outline-none
    }
}

.sidebar ul li a svg {
    /* height: 50px; */
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

@layer components {
    .tooltip {
        @apply absolute h-[35px] w-[100px] bg-[#1f1f24] left-[122px] top-[0] rounded-md leading-[35px] text-center text-white duration-[0sm] opacity-0 pointer-events-none
    }
}

.sidebar ul li .tooltip {
    box-shadow: 0px 0px 13px #bf6b4c;
    display: block;
    transform: translate(-55%, -50%);
}

.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.6s ease;
    top: 50%;
    opacity: 1;

}

/* end sidebar */

/* Loading */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}



@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

@keyframes pulse-bg {
    0% {
        background-color: #292828a4;
    }

    50% {
        background-color: #292828;
    }

    100% {
        background-color: #292828a4;
    }
}

/* Loading */
/* cart */
@layer components {
    .cart {
        @apply w-[650px] p-5 bg-[#212121] rounded-lg text-white flex
    }
}

@layer components {
    .cart-img {
        @apply w-[130px] rounded-[4px]
    }
}

@layer components {
    .cart-Price {
        @apply flex items-center justify-between
    }
}

@layer components {
    .Remove-from-cart {
        @apply text-2xl duration-[350ms] cursor-pointer hover:text-red-500 hover:underline
    }
}

@layer components {
    .cart-buy-now {
        @apply space-y-10 bg-[#212121] rounded-lg w-[400px] h-full p-[16px]
    }
}

@layer components {
    .button-cart-buy-now {
        @apply bg-[#EF6838] rounded-md py-[6px] px-11 hover:bg-[#c06b44]
    }
}

/* end cart */

/* buy now  */
@layer components {
    .button-buy-now {
        @apply bg-[#EF6838] rounded-md py-[6px] px-11 hover:bg-[#c06b44]
    }
}

@layer components {
    .border-buy-now {
        @apply border-t-2 border-[#797a7c42] pt-3 flex items-center justify-between
    }
}

/* end buy now */

/* home */

/* nav home */
@layer components {
    .nav-links-home {
        @apply duration-[400ms] hover:text-[#EF6838] hover:mb-[5px]
    }
}

@layer components {
    .Lgoin {
        @apply bg-[#EF6838] font-[500] duration-[300ms] hover:bg-[#c06b44] hover:text-white text-white py-3 px-10 rounded-full drop-shadow-2xl flex items-center
    }
}

@layer components {
    .join-Discord {
        @apply bg-white text-black py-3 px-6 rounded-full duration-[400ms] drop-shadow-2xl font-[500] hover:bg-[#e4e1e1] flex items-center
    }
}



/* box-Number  */


@layer components {
    .box-Number {
        @apply bg-[#272727] text-white rounded-2xl py-5 flex flex-col items-center duration-[350ms] w-[195px] md:w-[350px] md:py-10 lg:py-6 lg:w-[250px] border border-[#434344]
    }
}



.box-Number:hover {
    box-shadow: -12px 10px 3px #EF6838;
}


/* end box-Number */

/* ABOUT US */

@layer components {
    .ABOUT-US {
        @apply text-white border-b-4 border-[#EF6838] text-4xl pb-5 rounded-sm font-[500]
    }
}

@layer components {
    .container-ABOUT-US {
        @apply mx-auto container flex flex-col-reverse items-center justify-center gap-10 px-6 md:flex-row pt-16
    }
}

/* end ABOUT US */

/* Customers */

@layer components {
    .Customers {
        @apply text-white border-b-4 border-[#EF6838] text-4xl pb-5 rounded-sm font-[500]
    }
}

/* end Customers */


/* timeline  */
@layer components {
    .timeline {
        @apply relative space-y-10
    }
}



@layer components {
    .container_timeline {
        @apply relative py-[0px] px-[50px] md:w-[50%] opacity-0
    }
}

.container_timeline {
    opacity: 0;
    animation: moveline2 1s linear forwards;
}

@keyframes moveline2 {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .container:nth-child(1) {
    animation-delay: 400ms;
}

.container:nth-child(2) {
    animation-delay: 2s;
}

.container:nth-child(3) {
    animation-delay: 3s;
}

.container:nth-child(4) {
    animation-delay: 4s;
} */

@layer components {
    .text-box {
        @apply py-[10px] md:py-[30px] px-[25px] rounded-lg bg-[#222222] text-white space-y-2 border border-[#434344]
    }
}

@layer components {
    .text-box-span {
        @apply w-[50px] h-[50px] bg-[#2b2b2d] text-center text-2xl absolute rounded-[50%] pt-[10px] right-[-22px] top-[38%] z-10
    }
}

.right-container span {
    left: -28px;
    padding-top: 9px;
}


@layer components {
    .left-container {
        @apply left-0
    }
}

@layer components {
    .right-container {
        @apply left-0 md:left-[50%]
    }
}

/* swiper-home */
@layer components {
    .swiper-home-1 {
        @apply rounded-lg object-cover hover:contrast-[0.8] duration-[340ms] relative w-full h-[130px] md:w-full md:h-[150px] lg:w-[250px] lg:h-[165px]
    }
}

@layer components {
    .Our-Collections {
        @apply text-white border-b-4 border-[#EF6838] text-3xl pb-5 rounded-sm font-[600]
    }
}

@layer components {
    .go-to-store {
        @apply bg-[#EF6838] font-[700] duration-[300ms] hover:bg-[#c06b44] text-white py-4 px-6 text-[18px] rounded-full flex items-center
    }
}

/* end swiper-home */
/* FAQ */
@layer components {
    .accordion {
        @apply bg-[#222222] text-black mb-5 py-6 px-5 rounded-lg cursor-pointer border border-[#434344]
    }
}

@layer components {
    .question {
        @apply flex items-center justify-between
    }
}

@layer components {
    .answer {
        @apply text-[#b5b5b5] max-h-0 overflow-hidden duration-[600ms] leading-10
    }
}

.svg-accordion.active {
    transform: rotate(180deg);
    transition-duration: 550ms;
    width: 5%;
    background-color: #222222;

}

.answer.active {
    max-height: 100vh;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid;
    background-color: #222222;

}

/* end FAQ */


/* Join Community */
@layer components {
    .join-container {
        @apply mx-auto bg-[#EF6838] flex flex-col items-center text-white py-10 px-[50px] md:px-52 lg:px-96 rounded-xl space-y-6
    }
}

@layer components {
    .join-button {
        @apply bg-white text-black py-3 px-10 rounded-full duration-[400ms] text-[18px] drop-shadow-2xl
    }
}

.join-button {
    box-shadow: 0px 0px 10px #000000;
}

.join-button:hover {
    box-shadow: -8px 8px 8px #000000;
}

/*end Join Community  */
/* footer */
@layer components {
    .footer-links {
        @apply hover:text-[#EF6838] duration-[400ms] cursor-pointer
    }
}

#modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

#modal2 {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.content {
    background-color: white;
    width: 1000px;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* end footer */